.triangle,
.triangle2,
.triangle3,
.triangle4,
.triangle5,
.carre,
.parallelogram{
    position: absolute;
}

/*************************************************************************/

.carre {
    rotate: 45deg;
    left: 307px;
    top: 272px;
}

.triangle {
    rotate: 180deg;
    left: 344px;
    top: 206px;
}

.triangle2 {
    rotate: -90deg;
    top: 285px;
    left: 264px;
}

.triangle3 {
    rotate: 45deg;
    top: 313px;
    left: 334px;
}

.triangle4 {
    rotate: 90deg;
    left: 240px;
    top: 155px;
}


.triangle5 {
    top: 207px;
    left: 186px;
}


.parallelogram {
    rotate: 360deg;
    top: 363px;
    left: 173px;
    clip-path: polygon(35% 0%, 95% 0%, 69% 100%, 9% 100%);
    width: 173px;
    height: 44px;
}

/*************************************************************************/



.triangle{
    top: 270px;
    left: 339px;
    rotate: 0deg;
    transition: .9s;
}
.triangle2{
    top: 378px;
    left: 227px;
    rotate: 90deg;
    transition: .9s;
}
.triangle3{
    top: 278px;
    left: 279px;
    rotate: 45deg;
    transition: .9s;
}

.triangle4{
    top: 380px;
    left: 179px;
    rotate: 270deg;
    transition: .9s;
}
.triangle5{
    top: 330px;
    left: 129px;
    rotate: -360deg;
    transition: .9s;
}

.carre{
    top: 236px;
    left: 354px;
    rotate: 45deg;
    transition: .9s;
    
}
.parallelogram{
    transform: skew(18deg, 41deg);
    margin-bottom: 37px;
    margin-top: 203px;
    margin-right: 26px;
    margin-left: 277px;
    width: 63px;
    height: 114px;
    top: 126px;
    left: -37px;
    rotate: 101deg;
    transition: .9s;
}
