.triangle{
    top: 270px;
    left: 339px;
    rotate: 0deg;
    transition: .9s;
}
.triangle2{
    top: 378px;
    left: 227px;
    rotate: 90deg;
    transition: .9s;
}
.triangle3{
    top: 278px;
    left: 279px;
    rotate: 45deg;
    transition: .9s;
}

.triangle4{
    top: 380px;
    left: 179px;
    rotate: 270deg;
    transition: .9s;
}
.triangle5{
    top: 330px;
    left: 129px;
    rotate: -360deg;
    transition: .9s;
}

.carre{
    top: 236px;
    left: 354px;
    rotate: 45deg;
    transition: .9s;
    
}
.parallelogram{
    transform: skew(18deg, 41deg);
    margin-bottom: 37px;
    margin-top: 203px;
    margin-right: 26px;
    margin-left: 277px;
    width: 63px;
    height: 114px;
    top: 126px;
    left: -37px;
    rotate: 101deg;
    transition: .9s;
}

.tangram {
    height: 50px;
    margin-left: 14px;
    margin-top: -61px;
    position: relative;
}