.triangle{
    top: 270px;
    left: 339px;
    rotate: 0deg;
    transition: .9s;
}
.triangle2{
    top: 378px;
    left: 227px;
    rotate: 90deg;
    transition: .9s;
}
.triangle3{
    top: 278px;
    left: 279px;
    rotate: 45deg;
    transition: .9s;
}

.triangle4{
    top: 380px;
    left: 179px;
    rotate: 270deg;
    transition: .9s;
}
.triangle5{
    top: 330px;
    left: 129px;
    rotate: -360deg;
    transition: .9s;
}

.carre{
    top: 236px;
    left: 354px;
    rotate: 45deg;
    transition: .9s;
    
}
.parallelogram{
    top: 371px;
    left: 223px;
    rotate: 0deg;
    width: 100px;
    height: 34px;
    transform: skew(-47deg);
    transition: .9s;
}

.tangram {
    height: 50px;
    margin-left: 14px;
    margin-top: -61px;
    position: relative;
}