/* .tangram {
    height: 50px;
    margin-left: 30px;
	margin-top: 30px;
    position: relative;
} */

@keyframes animate {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

.triangle {
    transform: translate(-9px, -8px) rotate(360deg);
    transition: all 2s;
}

.triangle2 {
    transform: translate(-138px, 30px) rotate(225deg);
    transition: all 2s;
}

.triangle3 {
    transform: translate(-142px, 101px) rotate(225deg);
    transition: all 2s;

    animation: animate 3s linear infinite;
    filter: drop-shadow(0 0 50px rgb(22, 245, 59),
            0 0 50px rgb(250, 10, 250));
}

.triangle4 {
    transform: translate(62px, 41px) rotate(90deg);
    transition: all 2s;
}

.triangle5 {
    transform: translate(117px, 11px);
    transition: all 2s;
}

.carre {
    transform: translate(-58px, -73px) rotate(180deg);
    transition: all 2s;
}

.parallelogram {
    transform: translate(135px, -214px) rotate(45deg);
    transition: all 2s;
}