/* my figure */

/* .triangle{
	transform:translate(88px, 164px) rotate(112deg);

	transition:all 2s;
} */

.tangram {
    height: 50px;
    margin-left: 30px;
	margin-top: 30px;
    position: relative;
}
.triangle {
	transform: translate(210px, 211px) rotate(142deg);
	transition: all 3s;
}

.triangle2 {
	transform: translate(197px, 323px) rotate(232deg);
	transition: all 3s;
}

.carre {
	transform: translate(211px, 284px) rotate(97deg);
	transition: all 3s;
}

.triangle3 {
	transform: translate(341px, 212px) rotate(117deg);
	transition: all 3s;

}

.triangle4 {
	transform: translate(130px, 139px) rotate(-38deg);
	transition: all 2s;
	
	animation: animate 1s linear infinite;
    filter: drop-shadow(
        
        0 0 50px red,
        0 0 50px pink);
}

.triangle5 {
	transform: translate(259px, 66px) rotate(161deg);
	transition: all 2s;

	animation: animate 1s linear infinite;
    filter: drop-shadow(
        
        0 0 50px red,
        0 0 50px pink);

}
@keyframes animate{
    0% { filter: hue-rotate(0deg);}

    100% { filter: hue-rotate(360deg);}

}
.parallelogram {
	transform: skew(18deg, 26deg);
	margin-bottom: 37px;
	margin-top: 201px;
	margin-right: 26px;
	margin-left: 277px;
	width: 63px;
	height: 98px;
	transition: all 3s;
}