/* my figure */

/* .triangle{
	transform:translate(88px, 164px) rotate(112deg);

	transition:all 2s;
} */

.tangram {
    height: 50px;
    margin-left: 40px;
	margin-bottom: 70px;
    position: relative;
}
.triangle {
	transform: translate(146px, -191px) rotate(413deg);
	transition: all 3s;
}

.triangle2 {
	transform: translate(2px, -50px) rotate(234deg);
	transition: all 3s;
}

.carre {
	transform: translate(-6px, 127px) rotate(143deg);
	transition: all 3s;
}

.triangle3 {
	transform: translate(-21px, -21px) rotate(75deg);
	transition: all 3s;

}

.triangle4 {
	transform: translate(67px, 109px) rotate(-127deg);
	transition: all 2s;
	
	animation: animate 3s linear infinite;
    filter: drop-shadow(
        
        0 0 50px red,
        0 0 50px pink);
}

.triangle5 {
	transform: translate(98px, -59px) rotate(163deg);
	transition: all 2s;

	animation: animate 3s linear infinite;
    filter: drop-shadow(
        
        0 0 50px red,
        0 0 50px pink);

}
@keyframes animate{
    0% { filter: hue-rotate(0deg);}

    100% { filter: hue-rotate(360deg);}

}
.parallelogram {
    transform: skew(24deg, 27deg);
    margin: -98px 17px 64px 87px;
    width: 89px;
    height: 111px;
	transition: all 3s;
}
