@keyframes animate{
    0% { filter: hue-rotate(0deg);}

    100% { filter: hue-rotate(360deg);}

}

.container{
    background-image: url(greensmoke.jpg);
}

.carre{
    left: 38%;
    top: 175%;
    rotate: 90deg;
    background-color: orangered;
    transition: all 2s;
}

.triangle{
    rotate: -90deg;
    left: 63%;
    top: 348%;
    border-left: 50px solid #d2696a;
    transition: all 2s;
    animation: animate 2s linear infinite;
    filter: drop-shadow(0 0 50px #339966,
            0 0 50px #1a1aff);
}

.triangle2{
    left: 63%;
    rotate: 90deg;
    top: 450%;
    border-left: 50px solid darkviolet;
    transition: all 2s;
    animation: animate 2s linear infinite;
    filter: drop-shadow(0 0 50px #1a1aff,
            0 0 50px #339966);
}


.triangle3{
    rotate: 43deg;
    top: 710%;
    left: 15%;
    border-left: 70px solid crimson;
    transition: all 2s;
}

.triangle4{
    left: 24%;
    rotate: 403deg;
    top: 337%;
    border-left: 100px solid mediumblue;
    transition: all 2s;
}


.triangle5{
    top: 484%;
    rotate: 223deg;
    left: 23%;
    border-left: 100px solid #b20000;
    transition: all 2s;
}

.parallelogram{
    rotate: 178deg;
    left: 41%;
    top: 605%;
    background-color: whitesmoke;
    transition: all 2s;
}
