@keyframes animate {
	0% {
		filter: hue-rotate(0deg);
	}

	100% {
		filter: hue-rotate(360deg);
	}

}

.tangram {  
	margin-top: 30px; 
    margin-left: 70px;
    position: relative;
}
.triangle {
	transform: translate(41px, -193px) rotate(295deg);
	transition: all 3s;
	animation: animate 3s linear infinite;
	filter: drop-shadow(0 0 50px red,
			0 0 50px pink);

}

.triangle2 {
	transform: translate(-122px, -122px) rotate(134deg);
	transition: all 3s;
	animation: animate 3s linear infinite;
	filter: drop-shadow(0 0 50px red,
			0 0 50px pink);
}

.carre {
	transform: translate(-188px, -13px) rotate(135deg);
	transition: all 3s;
}

.triangle3 {
	transform: translate(-339px, -79px) rotate(225deg);
	transition: all 3s;

}

.triangle4 {
	transform: translate(92px, 103px) rotate(0deg);
	transition: all 2s;
}

.triangle5 {
	transform: translate(57px, 43px) rotate(270deg);
	transition: all 2s;
}

.parallelogram {
	transform: skew(147deg, -1deg);
	margin: -158px 17px 37px -67px;
	width: 119px;
	height: 86px;
	transition: all 3s;
}