/* My plane */

.triangle {
	transform:translate(331px, 224px)rotate(237deg);
	transition: all 3s;
}

.triangle2 {
	transform: translate(87px, 212px) rotate(-78deg);
	transition: all 3s;
}

.carre {
	transform: translate(262px, 244px)rotate(102deg);
	transition: all 3s;
}

.triangle3 {
	transform: translate(358px, 164px) rotate(57deg);
	transition: all 3s;
}

.triangle4 {

	transform: translate(183px, 122px) rotate(57deg);
	transition: all 3s;
}

.triangle5 {
	transform: translate(168px, 195px) rotate(-33deg);
	transition: all 3s;
}

.parallelogram {

	transform: skew(78deg, -33deg);
    margin-top: 237px;
    margin-bottom: 72px;
    margin-left: 13px;
    margin-right: 5px;
    width: 57px;
    height: 18px;
	transition: all 3s;
}