/* My plane */

/* .tangram {
    height: 50px;
    margin-left: 100px;
	margin-top: 30px;
    position: relative;
} */


@keyframes animate{
    0% { filter: hue-rotate(0deg);}

    100% { filter: hue-rotate(360deg);}

}
.triangle {
	transform:translate(-101px, -52px)rotate(58deg);
	transition: all 3s;
}

.triangle2 {
	transform: translate(30px, -75px) rotate(13deg)	;
	transition: all 3s;
}

.carre {
	transform: translate(51px, -43px)rotate(58deg);
	transition: all 3s;
}

.triangle3 {
	transform: translate(16px, -181px) rotate(12deg);
	animation: animate 3s linear infinite;
    filter: drop-shadow(
        
        0 0 50px red,
        0 0 50px pink);
	transition: all 3s;
}

.triangle4 {

	transform: translate(8px, -50px) rotate(327deg);
	transition: all 3s;
}

.triangle5 {
	transform: translate(88px, 32px) rotate(-33deg);
	transition: all 3s;
}

.parallelogram {

	transform: skew(84deg, -31deg);
    margin-top: -91px;
    margin-bottom: 72px;
    margin-left: -114px;
    margin-right: 5px;
    width: 99px;
    height: 18px;
	animation: animate 3s linear infinite;
    filter: drop-shadow(
        
        0 0 50px red,
        0 0 50px pink);
	transition: all 3s;
}