@keyframes animate {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

.triangle {
    rotate: 270deg;
    left: 250px;
    top: 46px;
    transition: all 2s;

    animation: animate 3s linear infinite;
    filter: drop-shadow(0 0 50px rgb(22, 245, 59),
            0 0 50px rgb(250, 10, 250));
}

.triangle2 {
    rotate: 90deg;
    top: 320px;
    left: 195px;
    transition: all 2s;
}

.triangle3 {
    rotate: 270deg;
    top: 90px;
    left: 240px;
    transition: all 2s;
    
    animation: animate 3s linear infinite;
    filter: drop-shadow(0 0 50px rgb(22, 245, 59),
            0 0 50px rgb(250, 10, 250));
}

.triangle4 {
    rotate: 135deg;
    left: 259px;
    top: 207px;
    transition: all 2s;
}

.triangle5 {
    top: 207px;
    left: 186px;
    rotate: 45deg;
    transition: all 2s;
}

.carre {
    rotate: 90deg;
    left: 235px;
    top: 398px;
    transition: all 2s;
}

.parallelogram {
    rotate: 360deg;
    top: 345px;
    left: 214px;
    clip-path: polygon(35% 0%, 95% 0%, 69% 100%, 5% 100%);
    width: 173px;
    height: 50px;
    transition: all 2s;
}