.carre{
    rotate: 10deg;
    left: 29%;
    top: 197%;
    background-color: orangered;
    transition: all 2s;
}

.triangle{
    top: 683%;
    rotate: 135deg;
    left: 10%;
    border-left: 50px solid #d2696a;
    transition: all 2s;
}

.triangle2{
    top: 684%;
    left: 28%;
    rotate: 45deg;
    border-left: 50px solid darkviolet;
    transition: all 2s;
}

.triangle3{
    top: 423%;
    rotate: 135deg;
    left: 5%;
    border-left: 70px solid crimson;
    transition: all 2s;
}

.triangle4{
    rotate: 135deg;
    left: 25%;
    top: 343%;
    border-left: 100px solid mediumblue;
    transition: all 2s;
}


.triangle5{
    rotate: 90deg;
    top: 514%;
    left: 15%;
    border-left: 100px solid #b20000;
    transition: all 2s;
}


.parallelogram{
    rotate: 60deg;
    top: 670%;
    left: 46%;
    background-color: whitesmoke;
    transition: all 2s;
}