.carre {
    rotate: 90deg;
    left: 118px;
    top: 207px;
}

.triangle {
    rotate: 90deg;
    left: 36px;
    top: 182px;
}

.triangle2 {
    rotate: 45deg;
    top: 210px;
    left: 72px;
}

.triangle3 {
    rotate: 135deg;
    top: 210px;
    left: 181px;
}

.triangle4 {
    rotate: 90deg;
    left: 240px;
    top: 258px;
}


.triangle5 {
    top: 155px;
    left: 342px;
    rotate: 270deg;
}


.parallelogram {
    rotate: 360deg;
    top: 308px;
    left: 212px;
    clip-path: polygon(39% 0%, 55% 0%, 66% 100%, 50% 100%);
    width: 510px;
    height: 44px;
}