@keyframes animate {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

.carre {
    rotate: 90deg;
    left: 118px;
    top: 207px;
    transition: all 2s;
}

.triangle {
    rotate: 90deg;
    left: 36px;
    top: 182px;
    transition: all 2s;

    animation: animate 3s linear infinite;
    filter: drop-shadow(0 0 50px rgb(230, 245, 22),
            0 0 50px rgb(10, 202, 250));
}

.triangle2 {
    rotate: 45deg;
    top: 210px;
    left: 72px;
    transition: all 2s;
}

.triangle3 {
    rotate: 135deg;
    top: 210px;
    left: 181px;
    transition: all 2s;
}

.triangle4 {
    rotate: 90deg;
    left: 240px;
    top: 258px;
    transition: all 2s;
}

.triangle5 {
    top: 155px;
    left: 342px;
    rotate: 270deg;
    transition: all 2s;
}

.parallelogram {
    rotate: 360deg;
    top: 308px;
    left: 212px;
    clip-path: polygon(39% 0%, 55% 0%, 66% 100%, 50% 100%);
    width: 510px;
    height: 44px;
    transition: all 2s;

    animation: animate 3s linear infinite;
    filter: drop-shadow(0 0 50px rgb(22, 245, 59),
            0 0 50px rgb(250, 10, 250));
}