.carre {
    rotate: 45deg;
    left: 350px;
    top: 50px;
}

.triangle {
    rotate: 180deg;
    left: 90px;
    top: 26px;
}

.triangle2 {
    rotate: -90deg;
    top: 280px;
    left: 154px;
}

.triangle3 {
    rotate: 45deg;
    top: 3px;
    left: 33px;
}

.triangle4 {
    rotate: 90deg;
    left: 40px;
    top: 155px;
}


.triangle5 {
    top: 295px;
    left: 300px;
}


.parallelogram {
    rotate: 360deg;
    top: 363px;
    left: 173px;
    clip-path: polygon(35% 0%, 95% 0%, 69% 100%, 9% 100%);
    width: 173px;
    height: 44px;
}